# Ignore everything
*

!.gitignore
!.gitattributes

# Whitelist devserver files
!docker-compose-dev.yml
!docker-compose-dev-nt.yml
!config/common.env
!config/nwserver_dev.env
!config/nwserver_dev_nt.env
!settings.tml

# Whitelist the override folder but make sure these 2das never get committed
!override/
!override/**
override/env.2da
override/env_dm.2da

# Keep this folder so install doesn't break
!install/.keep

# Whitelist sources and nasher files
!nasher.cfg
!src/
!src/**
!presets/
!presets/**

# Only keep server file
!server/docker-compose.yml

# Whitelist batch and readme files
!*.bat
!*.md

# Never commit these file types
*.mod
*.ncs
